div { box-sizing: border-box; }

.uploader-wrapper { border-radius: 4px; width: 100%; background-color: #ffffff; }
.uploader-wrapper button { border-radius: 4px; cursor: pointer; float: right; display: inline-block; padding: 6px 12px; font-size: 14px; background-color: transparent; border: 1px solid transparent; transition: all 400ms; }
.uploader-wrapper button:focus { outline: none; }
.uploader-wrapper button:hover { border-color: #cccccc; }
.uploader-wrapper button[disabled="disabled"] { opacity: 0.5; cursor: no-drop; }
.uploader-wrapper .uploader-full { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }
.uploader-wrapper .uploader-hide { display: none !important; }

.uploader-body { text-align: center; padding: 10px; min-height: 155px; max-height: 300px; overflow-y: auto; overflow-x: hidden; }
.uploader-body .preview-wrapper { display: inline-block; position: relative; height: 100%; margin: 0 10px; overflow: hidden; }
.uploader-body .preview-item { height: 130px; }
.uploader-body .preview-item img { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; height: 130px; }
.uploader-body .preview-overlay { border-radius: 4px; background-color: rgba(0, 0, 0, 0.5); }
.uploader-body .preview-status { border-radius: 4px; cursor: pointer; opacity: 0; padding-top: 100%; -webkit-transition: all 400ms; -moz-transition: all 400ms; -ms-transition: all 400ms; -o-transition: all 400ms; transition: all 400ms; }
.uploader-body .preview-status-active { padding-top: 20%; opacity: 1; }
.uploader-body .preview-progress { border-radius: 4px; width: 0; background-color: rgba(92, 184, 92, 0.7); }
.uploader-body .uploader-hint { cursor: pointer; width: 100%; height: 100%; line-height: 130px; }

.uploader-footer { padding: 10px; background-color: #eeeeee; }
.uploader-footer .btn-warning { margin-left: 15px; color: #ffffff; background-color: #f0ad4e; border-color: #ec971f; }
.uploader-footer .btn-warning:hover { background-color: #eea236; border-color: #d58512; }
.uploader-footer .btn-warning[disabled]:hover { background-color: #f0ad4e; border-color: #ec971f; }
.uploader-footer .btn-success { margin-left: 15px; color: #ffffff; background-color: #5cb85c; border-color: #4cae4c; }
.uploader-footer .btn-success:hover { background-color: #449d44; border-color: #398439; }
.uploader-footer .btn-success[disabled]:hover { background-color: #5cb85c; border-color: #4cae4c; }

.uploader-footer::after { display: block; content: ''; clear: both; }

@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?vrqaqg"); src: url("../fonts/icomoon.eot?#iefixvrqaqg") format("embedded-opentype"), url("../fonts/icomoon.ttf?vrqaqg") format("truetype"), url("../fonts/icomoon.woff?vrqaqg") format("woff"), url("../fonts/icomoon.svg?vrqaqg#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-cross:before { color: #ff7979; font-size: 50px; content: "\e600"; }

.icon-checkmark:before { color: #5cb85c; font-size: 50px; content: "\e601"; }
